@{
    ViewBag.Title = "About";
}


<h1>Listes des Genres</h1>

<h2>Sport</h2>

<p>
    Ces histoires mettent en scène des sportifs. En général, il s'agit de débutants qui se forgent un destin à force de travail. Le sport sert souvent de prétexte à un récit initiatique (généralement sur la persévérance ou l'esprit d'équipe) ou à une histoire d'amour ou d'amitié. Ces histoires sont majoritairement destinées à un public féminin japonais, bien qu'ayant un public masculin important chez nous. Dans cette catégorie, on pourra citer Olive et Tom, Jeanne et Serge, Touch (Théo ou la Batte de la victoire), et plus récemment Suzuka, Prince of Tennis, Eyeshield 21...
    Il faut savoir que le sport a une place importante au Japon, notamment à l'école, donc pour le public visé par ces mangas.
</p>

<h2>Mecha</h2>
<p>
    Symbole des mangas pour pas mal de personnes, les mecha ou robots, sont un thème très populaire, avec des séries très diverses telles que Gundam seed ou Full Metal Panic!. Ils incarnent la possibilité de se transcender et l'avenir du pays, reposant essentiellement sur sa haute technologie. Les Japonais voient plutôt les robots comme des objets de compagnie, tel que Aibo ou l'héroïne de Chobits, que comme des outils.
</p>

<h2>Magical girl</h2>
<p>
    Le genre Magical girl a été rendu populaire par Gigi magique ; ces histoires mettent en scène une jeune fille (désormais, plutôt un groupe de jeunes filles) qui est ou se découvre dotée(s) de pouvoir magique et lutte contre une force maléfique, ou pour aider ses amis. Elles portent souvent les mêmes valeurs que les shônen de baston, la violence graphique en moins, grâce à l'intermédiaire de la magie. Généralement, elles doivent dissimuler leurs capacités aux yeux de la majeure partie de la population. Dans ce genre, on trouvera le classique Sailor Moon, Cardcaptor Sakura, et plus récemment Mai HiME, Nanoha...
</p>

<h2>Harem</h2>
<p>
    Le motif appelé harem est utilisé pour parler de manga dans lequel le personnage principal est entouré d'un grand nombre de personnages du sexe opposé, avec qui il doit souvent cohabiter. Cette situation répond aux fantasmes d'adolescents et d'hommes introvertis de séduire malgré eux la gent féminine et d'avoir toutes les femmes pour eux. De fait, un jeune homme, généralement maladroit – voire en échec – et passant inaperçu se retrouve entouré de jeunes femmes, avec qui il doit parfois cohabiter, qui ne semblent généralement pas insensibles à son charme jusque-là caché, et se demande vers laquelle il doit se tourner. Dans la plupart des cas, les personnages féminins commencent par détester le personnage masculin avant de se rendre compte de son bon fond. Bien que ce motif soit principalement utilisé dans les œuvres pour un public masculin, il existe aussi des œuvres dédiées à un public féminin qui reprennent le même modèle. On pourra citer Love Hina, Ichigo 100%, Mahou sensei Negima, Amaenaide yo!!...
</p>

<h2>Tranches de vie</h2>
<p>
    Ces histoires simples et généralement lentes racontent la vie quotidienne d'une personne ou d'un groupe d'ami. Il n'y a pas d'intrigues ou de choses extraordinaires. Travail, amitié et amour sont généralement les éléments scénaristiques mis en œuvre. Dans les productions récentes, on notera Honey and Clover, Koi Kaze, Azumanga Daioh, Marmelade Boy, Maison Ikkoku.
</p>
<h2>Horreur</h2>
<p>
    Exemples : Tomié, Hellsing, Urotsukidoji, Gilgamesh (anime), Red Garden, Ghost Hunt...
</p>

<h2>Roman noir/policier</h2>
<p>
    Voir également Suiri. Si on trouvera des histoires policières -plus ou moins- classiques tel que Arcana ou Les Enquêtes de Kindaichi, plus tard imité par Détective Conan, on pourra également trouver dans cette catégorie les anime sur le vol tel que Lupin III ou des séries plus récentes tel que Monster ou Death Note.
</p>

<h2>Aventure</h2>
<p>
Où l'action est centrée sur la découverte et le voyage dans l'univers dans lequel les héros évoluent. On pourra citer One Piece comme exemple très connu.
</p>

<h2>Histoire</h2>
<p>
    Les japonais aiment bien l'histoire et la leur en particulier. On trouve de fait nombre de mangas historiques (plus ou moins adaptés de faits réels voire de l'époque réelle) sur la période des samouraïs ou les bombardements atomiques, ou sur l'histoire d'autres pays, comme des adaptations d'œuvres telles que les 3 mousquetaires ou le comte de MonteCristo ou les histoires de Chrisophe Colomb. Voir Jidaimono.
</p>
<h2>Ecchi</h2>
<p>
    Le mot ecchi est utilisé pour qualifier une catégorie de manga et d’anime qui présentent du contenu à connotation sexuelle, généralement pour créer un effet comique. Les œuvres ecchi s’adressent à un public cible majoritairement masculin que ce soit shōnen ou seinen. Par contre, certaines œuvres destinées à un auditoire féminin présentent aussi des caractéristiques du ecchi.

    La catégorie ecchi regroupe les œuvres qui exploitent le thème de la sexualité. Les moyens généralement utilisés sont des références ou des quiproquos à propos de la sexualité (phrases à double sens, propos pris hors contexte) dans les dialogues, ainsi que la représentation visuelle de la sexualité, par des quiproquos visuels (personnage dans une position évoquant une relation sexuelle), les vêtements (sous-vêtements, cosplay, vêtements fétiches, etc.), la nudité et la représentation de certains gestes (toucher ou regarder certaines parties du corps). Certains personnages (héros obsédé sexuel ou pédophile) et certains éléments (harem) sont aussi récurrents dans les ecchi.

    Par exemple, Gacha gacha, Ichigo 100%, Pastel, Bleu indigo...
</p>